.App {
  width: 100%;
}

.contentNavCartUser {
  width: 95%;
  display: flex;
}

/****************************Nav***********************/
.contentNav {
  width: 100%;
  margin-left: 5%;
}

.iconMenu {
  visibility: hidden;
}

.nav {
  display: flex;

}

.contentIconMenu {
  padding-top: 3%;
  margin-right: 5%;
}

.contentNav ul {
  padding-top: 2%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.contentNav .itemNav:hover {
  border-bottom: solid 2px #FF7D1B;
}


li {
    cursor: pointer;  
}

li:hover{
  color: rgb(12, 12, 12);
}

.logoSneakers {
  padding-top: 2%;
  color: rgb(44, 44, 44);
  font-size: 2.5rem;
  font-weight: 900;
}

.logoSneakers:hover{
  color: #1D2027;
}

.itemNav {
  color: rgb(167, 167, 167);
  margin-left: 3%;
  font-size: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

/***************************Cart********************************/

.contentCart {
  width: 10%;
  padding-top: 2%;
  display: flex;
  text-align: center;
  align-items: center;
}

.cart {
  width: 40%;
  margin-left: 5%;
  cursor: pointer;
}


/**********************************User********************************/
.contentUser {
  width: 15%;
  padding-top: 2%;
  display: flex;
  text-align: center;
  align-items: center;
}

.imgUser {
  width: 40%;
  cursor: pointer;
}


/******************************contentSampleInfo*******************************/

.contentSampleInfo {
  width: 85%;
  display: flex;
  justify-content: space-around;
}


/*************************************Sample****************************/

.contentSample {
  width: 30%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgSample1 {
  margin: 5%;
  width: 100%;
  border-radius: 20px;
}

.contentImg {
  margin: 5%;
  width: 100%;
  display: flex;
  justify-content:space-between;
}

.imgSample2 {
  width: 18%;
  border-radius: 10px;
}

/***************************Info*************************/

.contentInfo{
  width: 35%;
  margin: 5%;
}

.title2 {
  font-size: 0.8rem;
  color: #FF7D1B;
  letter-spacing: 1px;
}

.title1 {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  font-size: 2.5rem;
  color: #1D2027;
  letter-spacing: 1px;
}

.paragraph {
  width: 100%;
  font-size: 0.9rem;
  color: rgb(167, 167, 167);
  letter-spacing: 0.8px;
  line-height : 20px;
}

.contentPriceDiscount {
  height: 50px;
  display: flex;
  align-items: center;
}

.price {
  width: 50%;
  height: 40px;
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: #1D2027;
}

.contentDiscount {
  margin-left: -5%;
  width: 10%;
  height: 30px;
  background-color: #FBEFE5;
    color: #FF7D1B;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
}


.priceThrough {
  text-decoration:line-through;
  color: rgb(167, 167, 167);

}

.contentButtons {
  width: 100%;
  display: flex;
}

.contentMinusPlus {
  width: 40%;
  background-color: #F7F8FD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.iconMinusBtn {
  background-color: #F7F8FD;
  border: none;
  width: 40%;
  height: 30px;
  cursor: pointer;
}

.num {
  display: flex;
  align-items: center;
}

.iconPlusBtn {
  background-color: #F7F8FD;
  border: none;
  width: 45%;
  height: 30px;
  cursor: pointer;
}

.btnAddToCart {
  width: 50%;
  height: 40px;
  margin-left: 5%;
  font-size: 0.8rem;
  background-color: #FF7D1B;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.btnAddToCart:hover {
  background-color: #ce681a;
}

/*****************************Media quieries*******************************/

ul.show {
  top: 65px;
}

@media screen and (max-width: 967px) {
  .cart {
    width: 30px;
    height: 30px;
  }
  .imgUser {
    margin-left: 2%;
    width: 30px;
    height: 30px;
  }
  .menuItems li{
    font-size: 0.8rem;
  }
  .iconMenu {
  margin-top: 20px;
  width: 30px;
  }
}

@media screen and (max-width: 858px) {
  .cart {
    width: 30px;
    height: 30px;
  }
  .imgUser {
    margin-left: 2%;
    width: 30px;
    height: 30px;
  }
  .iconMenu {
  margin-top: 20px;
  width: 25px;
  height: 25px;
  }
  .nav {
    height: 65px;
  }
  .iconMenu {
  visibility: visible;
}
  .contentIconMenu {
    display: inline-flex;
  }
  .menuItems {
    position: fixed;
    width: 100vw;
    height: calc(100% -65px);
    background: #1D2027;
    top: -100vw;
    align-items: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menuItems li{
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .logoSneakers {
    font-size: 1.8rem;
    padding-top: 30px;
    padding-left: 35px ;
  }
  .contentSampleInfo {
  width: 85%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.contentSample {
  margin-top: 30px;
  width: 50%;
}

.contentInfo {
  width: 50%;
}
}

@media screen and (max-width: 714px){
.contentSampleInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.contentSample {
  margin-top: 30px;
  width: 80%;
  margin-left: -5%;
}

.contentInfo {
  width: 80%;
}
}

@media screen and (max-width: 412px){
.contentSampleInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.contentSample {
  margin-top: 30px;
  width: 80%;
  margin-left: -5%;
}

.contentInfo {
  width: 80%;
}

.contentButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentMinusPlus {
  width: 99%;
}

.btnAddToCart {
  width: 100%;
  margin-left: -5%;
}
}
